<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app"></div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script >

    const logApi ='http://localhost:3000/api/auth/log';
    const trackAPI = `http://localhost:3000/api/track/getTrack`;
    const trackCount = `http://localhost:3000/api/track/getTrackCount`;
    const commentTrackCount = `http://localhost:3000/api/track/getCommentTrackCount`;
    const postCommentTrack = `http://localhost:3000/api/track/postCommentTrack`;

    const h2 = document.querySelector('h2');
    async function getUser() {
        try {
            const getUser = await axios.get(logApi, {
                headers: {
                    'Authorization': `Bearer ${localStorage.token}`
                }
            })
            const id = getUser.data.id;
            const name = getUser.data.username;
            const getTrack = await axios.get(trackAPI + '/' + id);
            const tracks = getTrack.data;
            const data = tracks.map(async (music) => {
                try {
                    const commentCount = await axios.get(commentTrackCount + '/' + music.id);
                    
                    return `
                        <div class="music">
                            <p>${music.track_name}</p>
                            <p>
                                <audio controls>
                                    <source src="${music.sound}" type="audio/ogg">
                                </audio>
                            </p>
                            <div style=" width: 300px; display: flex; justify-content: space-between; align-items: center">
                                <span>like</span> <span>cmt ${commentCount.data}</span>
                            </div>

                            <form method="post" onsubmit='handleComment(event, this)'>
                                ${name}
                                <input type="text" name="title" id="title">
                                <input hidden value="${music.id}" name="track_id" id="track_id">
                                <input hidden value="${id}" name="user_id" id="user_id">
                                <button type="submit">gửi</button>
                            </form>
                        </div>
                    `
                } catch (error) {
                    console.log(error)
                }
            });
            const trackData = await Promise.all(data);
            const amountTrackCount = await axios.get(trackCount + '/' + id);
            document.getElementById('app').innerHTML = `
                    <div class="musics">
                        <h2>${name}</h2> <span>${amountTrackCount.data}</span>
                        ${trackData.join('')}
                    </div>
                `
        } catch (error) {
            console.log(error)
        }
    }

    getUser();

    async function handleComment(e, form) {
        e.preventDefault();
        console.log(1);
        const formData = new FormData(form);
        const dataCommentTrack = {
            title: formData.get('title'),
            track_id: formData.get('track_id'),
            user_id: formData.get('user_id')
        }
        console.log(dataCommentTrack.track_id)

        const { dataComment } = await axios.post(postCommentTrack, dataCommentTrack);
        console.log(dataComment)
    }

    </script>
</html>